*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}
.click{
    cursor: pointer;
}
.show{
    padding-top: 50px;
    color: rgb(216, 5, 5);
}
.shadowman{
    box-shadow: 800px;
}